.vs/
common/obj/
server/obj/
packages/
MmoCore/obj/
clientForUnity/obj/
MmoClient/Library/
MmoClient/Logs/
MmoClient/obj/
MmoClient/Temp/
*.meta
common/bin/
MmoCore/bin/
clientForUnity/bin/
server/bin/Debug/
TestClient/obj/Debug/
