.vs/
common/obj/
server/obj/
packages/
MmoCore/obj/
clientForUnity/obj/
MmoClient/Library/
MmoClient/Logs/
MmoClient/obj/
MmoClient/Temp/
#*.meta
common/bin/
MmoCore/bin/
clientForUnity/bin/
server/bin/Debug/
TestClient/obj/Debug/
TestClient/bin/

#UnityClient/Library/ShaderCache/
#UnityClient/Library/StateCache/
#UnityClient/Library/PackageCache/
#UnityClient/Library/Artifacts/
#*.log
#UnityClient/obj/Debug/
#UnityClient/Temp/
#UnityClient/Library/EditorInstance.json
#UnityClient/Library/SceneVisibilityState.asset
#UnityClient/Library/ScriptAssemblies/
#UnityClient/Library/PackageManager/ProjectCache.md5
#UnityClient/Library/CurrentLayout-default.dwlt
#UnityClient/Library/SceneVisibilityState.asset
#UnityClient/Library/EditorOnlyScriptingSettings.json
#UnityClient/Library/SourceAssetDB
#UnityClient/Library/PackageManager/ProjectCache
#UnityClient/Library/ArtifactDB
#UnityClient/Library/AtlasCache/

# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
UnityClient/Library/
UnityClient/Temp/
UnityClient/obj/
UnityClient/Build/
UnityClient/Builds/
UnityClient/Logs/
UnityClient/UserSettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
UnityClient/[Mm]emoryCaptures/

# Asset meta data should only be ignored when the corresponding asset is also ignored
UnityClient/Assets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
UnityClient/Assets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
UnityClient/.vs/

# Gradle cache directory
UnityClient/.gradle/

# Autogenerated VS/MD/Consulo solution and project files
UnityClient/ExportedObj/
UnityClient/.consulo/
UnityClient/*.csproj
UnityClient/*.unityproj
UnityClient/*.sln
UnityClient/*.suo
UnityClient/*.tmp
UnityClient/*.user
UnityClient/*.userprefs
UnityClient/*.pidb
UnityClient/*.booproj
UnityClient/*.svd
UnityClient/*.pdb
UnityClient/*.mdb
UnityClient/*.opendb
UnityClient/*.VC.db

# Unity3D generated meta files
UnityClient/*.pidb.meta
UnityClient/*.pdb.meta
UnityClient/*.mdb.meta

# Unity3D generated file on crash reports
UnityClient/sysinfo.txt

# Builds
UnityClient/*.apk
UnityClient/*.aab
UnityClient/*.unitypackage

# Crashlytics generated file
UnityClient/crashlytics-build.properties

# Packed Addressables
UnityClient/Assets/AddressableAssetsData/*/*.bin*

# Temporary auto-generated Android Assets
UnityClient/Assets/StreamingAssets/aa.meta
UnityClient/Assets/StreamingAssets/aa/*